.guessesContainer {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  margin: 0.25rem auto;
}


.guessBox {
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  background-color: var(--text-h);
  color: var(--bg);
}

.guessBox.correct {
  border-color: transparent;
    background-color: #000;
    color: #00ff00;
}

.guessBox.incorrect {
  border-color: #00ff00;
  background-color: var(--text-h);
  color: var(--bg);
}

.guessBox.correct {
  border-color: transparent;
}

.guessBox:nth-child(-n + 2).incorrect {
  border-color: #ff0000;
}

.guessBox:nth-child(-n + 2).correct {
  color: #ff0000;
}


.guessBox:nth-last-child(-n + 2).incorrect {
  border-color: #00BFFF;
}

.guessBox:nth-last-child(-n + 2).correct {
  color: #00BFFF;
}